---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const color = "#00A6FB";

interface Props {
	description: string;
	title: string;
}

const {description, title} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
        <meta name="theme-color" content="#00A6FB">
		<link rel="icon" type="image/svg+xml" href="Logoicon.png" />
        <link rel="canonical" href="https://ferneynava.com">
		<meta name="generator" content={Astro.generator} />
        <meta property="og:title" content={title}/>
        <meta property="og:description" content={description}/>
        <meta property="og:image" content="http://www.ferneynava.com/Porfolio.png"/>
        <meta property='twitter:image' content=http://www.ferneynava.com/Porfolio.png />
        <meta property='twitter:title' content={title} />
        <meta property='twitter:description' content={description} />
        <meta property='twitter:url' content = https://ferneynava.com />
        <meta property='og:url' content = https://ferneynava.com />
        <meta property="og:image:alt" content="Portafolio de Ferney Nava"/>
        <meta property="og:type" content="website">
		<title>{title}</title>
	</head>
	<body>
		<Header color = {color}/>
        <main>
            <slot />
        </main>
        <Footer color = {color}/>
	</body>
</html>
<style is:global>
	* {
		font-family: "Onest Variable", system-ui, sans-serif;
		box-sizing: border-box;
	}

	body {
		background: #0C151D;
		margin: 0px;
		padding: 0px;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
	}

    main{
        width: 100%;
        position: relative;
    }
</style>

